{% extends 'base.html'%}

{% block content %}

<section id="services">
            <div class="container">
                <h1>Detail Reviews</h1>
                <div class="row">
                {% for major in major_list %}
                    <div class="col-md-4">
                        <div class="service_item">
                            <h3>{{major.major_id}}</h3>
                            <p>{{major.major_intro}}</p>
                            <a href="#services" class="btn know_btn">see more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                            

        
    {% endfor %}
    <br>
    <a href="{% url 'majors:create' %}">New post</a>
    <!--{% if user.is_authenticated %}-->
    <!--{% endif %}-->
{% endblock %}