{%extends 'base.html'%}

{%block content%}
<div class="container text-center testimonial_area">
    <input class="btn know_btn" type="submit" value="질문 하기">
    </div>
<!--<a href="{#% url 'questions:create'%#}"> 글 쓰기 </a>-->
<section id="testimonial">
    
            <div class="container text-center testimonial_area">
                <h2>University Reviews</h2>
                <p>hi</p>
                <div class="row">
                    <div class="col-md-6">
                {% for question in question_list %}
                        <div class="testimonial_item">
                            <div class="testimonial_content text-center">
                                <p>{{question.content}}</p>
                                    <a href="{% url 'questions:delete' pk=question.pk %}">delete</a>
                                    <a href="{% url 'questions:edit' pk=question.pk %}">edit</a>
                            </div>
                            <img src="images/testimonial_img1.png" alt="" />
                            <p class="worker_name"><a href="{% url 'questions:detail' pk=question.pk %}">{{question.title}}</a></p>
                        </div>
                    <!--</div>-->
                    <!--<div class="col-md-12">-->
                    <!--    <div class="testimonial_item">-->
                    <!--        <div class="testimonial_content">-->
                    <!--            <p>{{question.content}}</p>-->
                    <!--        </div>-->
                    <!--        <img src="images/testimonial_img2.png" alt="" />-->
                    <!--        <p class="worker_name">{{question.title}}</p>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!--<div class="col-md-12">-->
                    <!--    <div class="testimonial_item">-->
                    <!--        <div class="testimonial_content">-->
                    <!--            <p>{{question.content}}</p>-->
                    <!--        </div>-->
                    <!--        <img src="images/testimonial_img1.png" alt="" />-->
                    <!--        <p class="worker_name">{{question.title}}</p>-->
                    <!--    </div>-->
                    <!--</div>-->
                {% endfor%}
                </div>
            </div>
        </section><!-- Testimonial end -->
        
    <!--{% for question in question_list %}-->
    <!--<h1>{{question.title}}</h1>-->
    <!--<a href="{% url 'questions:detail' pk=question.pk %}">detail</a>-->
    <!--<a href="{% url 'questions:delete' pk=question.pk %}">delete</a>-->
    <!--<a href="{% url 'questions:edit' pk=question.pk %}">edit</a>-->
    <!--{% endfor%}-->
{% endblock %}