{%extends 'base.html'%}

{%block content%}
<div class="container text-center testimonial_area">
    </div>
<section id="testimonial">
    
            <div class="container text-center testimonial_area">
                <h2>University Reviews</h2>
                <a href="{% url 'questions:create' %}" class="btn know_btn">질문 하기</a>
                <div class="row">
                    <div class="col-md-6">
                {% for question in question_list %}
                        <div class="testimonial_item">
                            <div class="testimonial_content text-center">
                               <p> <a href="{% url 'questions:detail' pk=question.pk %}">{{question.title}}</a> </p>
                                    <a href="{% url 'questions:delete' pk=question.pk %}">delete</a>
                                    <a href="{% url 'questions:edit' pk=question.pk %}">edit</a>
                            </div>
                            <img src="images/hi.png" alt="" />
                        </div>
                {% endfor%}
                </div>
            </div>
        </section><!-- Testimonial end -->
        
{% endblock %}