{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
<form  method='POST'>

    {% csrf_token %}
    <h1>{{ university.uni_id }}</h1>
    <!--<div class="rating1">-->
    <!--        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>-->
    <!--        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>-->
    <!--        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>-->
    <!--        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>-->
    <!--        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>-->
    <!--</div>    -->
    <div style="margin-top:20px">
        <p>
            전공: {{form.major}}    
        </p>
                
        <p>
            내용: {{form.content}}    
        </p>
    </div>
    <div style="margin-top:0px">
        <p>
            <h1>취업 전망</h1>
            <div class="rating1">
            {% for star in form.rating1 %}
                {{ star.tag }}
                <label class="full" for="{{ star.id_for_label }}"></label>
            {% endfor %}
            </div> 
        </p>
    </div>
    <br>
    <div style="margin-top:0px">
        <p>
            <h1>과 분위기</h1>
            <div class="rating1">
            {% for star in form.rating2 %}
                {{ star.tag }}
                <label class="full" for="{{ star.id_for_label }}"></label>
            {% endfor %}
            </div> 
        </p>
    </div>
    <br>
    <div style="margin-top:0px">
        <p>
            <h1>복지 정보</h1>
            <div class="rating1">
            {% for star in form.rating3 %}
                {{ star.tag }}
                <label class="full" for="{{ star.id_for_label }}"></label>
            {% endfor %}
            </div> 
        </p>
    </div> 

    <br><br>
    <input type="submit" value="Submit"/>
</form>

{% endblock %}