{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{% load crispy_forms_tags %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<form  method='POST'>
    {% csrf_token %}
<div class="row">
    <div class="col-md-6">
        <h1>{{ university.uni_id }}</h1>
        <br>
        <div style="margin-top:0px">
            <p>
                전공 : {{form.major}}
                <br>
                장점 : {{form.advantage}}
                <br>  
                단점 : {{form.disadvantage}}    
                <br>  
            </p>
        </div>
        <br> <br> <br> <br> <br> <br> <br> <br> <br> 
        
    </div>         
    
    <div class="col-md-6">
        <h1> 평가하기 </h1>
        <br><br><br><br><br><br>
        <p>
            
            <div style="margin-top:0px">
                    <h3>취업 전망</h3>
                    <div class="rating1">
                        {% for star in form.rating1 %}
                            {{ star.tag }}
                            <label class="full" for="{{ star.id_for_label }}"></label>
                        {% endfor %}
                    </div> 
            </div>
        </p>
                        <br>
            <div style="margin-top:0px">
                <p>
                    <br><h3>과 분위기</h3>
                    <div class="rating1">
                        {% for star in form.rating2 %}
                            {{ star.tag }}
                            <label class="full" for="{{ star.id_for_label }}"></label>
                        {% endfor %}
                        <br>
                    </div> 
                </p>
            </div>
                    <br><br>
            <div style="margin-top:0px">
                <p>
                    <h3>복지 정보</h3>
                    <div class="rating1">
                        {% for star in form.rating3 %}
                            {{ star.tag }}
                            <label class="full" for="{{ star.id_for_label }}"></label>
                        {% endfor %}
                    </div> 
                </p>
            </div> 
            <br><br><br><br>
        <input type="submit" class="btn know_btn" value="등록하기" />
        <br><br>
    </div>
</div>
</form>

{% endblock %}