{%extends 'base.html'%}
{% load bootstrap4 %}

{% block content %}
<!--{%include 'uni_infor/test.html'%}-->
<form  method='POST'>
    
    {% csrf_token %}
    <h1>{{ university.uni_id }}</h1>
    <br>
    <div>
        <div>
            {{form.as_p}}
        </div>
        <h1>총     평</h1>
        <div class="rating">
            <input type="radio1" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio1" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio1" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio1" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio1" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio1" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio1" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio1" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio1" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio1" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </div>            
        <!--<p>취업 전망</p>-->
        <!--<div class="box">-->
        <!--    <div class="rating">-->
        <!--        <input type="radio" name="rating" id="rate5"><label for="rate5"></label>-->
        <!--        <input type="radio" name="rating" id="rate4"><label for="rate4"></label>-->
        <!--        <input type="radio" name="rating" id="rate3"><label for="rate3"></label>-->
        <!--        <input type="radio" name="rating" id="rate2"><label for="rate2"></label>-->
        <!--        <input type="radio" name="rating" id="rate1"><label for="rate1"></label>-->
        <!--    </div>-->
        <!--</div>            -->
    </div>
    <br><br>
    <input type="submit" value="Submit"/>
</form>


{% endblock %}