{% extends 'base.html' %}

{% block content %}

<h1> 대학교 세부정보</h1>

<div>  

    <p>총 평: {{ rating_total_avg }}</p>
    <p>취업 전망: {{ rating1_avg }}</p>
    <p>과 분위기: {{ rating2_avg }}</p>
    <p>복지 정보: {{ rating3_avg }}</p>
    <p>{{ university.uni_id }} </p>
    <p>{{ university.uni_intro }} </p>
    
    <a href="{% url 'universities:create' university_id=university.pk %}">전공평가하기</a>
    
    <br>
    
    {%for review in university.university_review_set.all%}
        {{ review.content}} 
        <br>
    {% endfor %}

</div>

{% endblock %}