{% extends 'base.html'%}

{% block content %}
<!-- Why us -->
        <section id="why_us">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="head_title">
                            <h2>하이멘토의 서비스를 소개합니다 >_<</h2>
                            <p>진로를 고민하느냐 밤을 새우는 고등학생 대학 생활부터 졸업 후 커리어까지
                            <br>고민하지말고 찾아보고 물어보세요!</p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="why_us_item">
                            <span class="fa fa-leaf"></span>
                            <h4>대학 소개</h4>
                            <p>이 대학은 뭐가 좋아? 근처에 뭐 있어?  </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="why_us_item">
                            <span class="fa fa-futbol-o"></span>
                            <h4>전공 소개</h4>
                            <p>이 전공을 하면 무슨 일 할 수 있어? 전망 있어? ㅠㅠ</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="why_us_item">
                            <span class="fa fa-group"></span>
                            <h4>멘토링</h4>
                            <p>대학생한테 직접 물어보고 싶어!!!!!</p>
                        </div>
                    </div>
                    <!--<div class="col-md-3 col-sm-6">-->
                    <!--    <div class="why_us_item">-->
                    <!--        <span class="fa fa-line-chart"></span>-->
                    <!--        <h4>Professional Services</h4>-->
                    <!--        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>-->
                    <!--    </div>-->
                    </div>
                </div>
            </div>
        </section><!-- Why us end -->

{% endblock %}